<head>
    <style type="text/css">
        .lead {
            font-weight: 700;
            font-size: medium;
        }
    </style>
</head>
<!--Autor: David Bismor -->
    @{
    ViewBag.Title = "Hospital Management System";
}

<div >
    
    <h1>Willkommen zu ihrer Krankenhaus Management Software!</h1>
    <hr />
  <img id="img_logo" alt="Logo" title="Hier geht´s zum Login!" src="@Url.Content("../../Content/Slider_Wilkommen.jpg")" 
      onclick="@("window.location.href='" + @Url.Action("LoginPage", "Home") + "'");" />



                  <!--  <th style="align-items:center; width:auto">    
                        <input id="LinkToLogin" type="button" value="Get it here" 
        onclick="@("window.location.href='" + @Url.Action("LoginPage", "Home") + "'");" /> </th>
        </tr>-->

    <br />
    <hr />
    
</div>