@model IEnumerable<HMS.Models.Patient>
<!--Autor: David Bismor -->
@{
    Layout = "~/Views/Shared/_Layout_Arzt.cshtml";
    ViewBag.Title = "Patienten";
}
 
  <table>
      <tr>
           <td style="position: absolute; left:auto"><h2>Unsere aktuellen Patienten:</h2></td>

        <td style="position:absolute; right:5%; top:10%">
   <input id="GoCreatePatient" type="button" value="Patienten anlegen" class="btn btn-default" style="width:140px"  
        onclick="@("window.location.href='" + @Url.Action("CreateArzt", "Patient") + "'");" />
            </td>
</tr>
    
 </table> 
 
<br /><br /><br />
   <b class="form-group"><h4>Suchoption:</h4>  </b>   
    @using(Html.BeginForm("IndexArzt", "Patient", FormMethod.Get))
    {
    @Html.RadioButton("option", "Name", true) <text> Name </text> 
    @Html.RadioButton("option", "Geburtsdatum") <text> Geburtsdatum </text>  <br />
    @Html.TextBox("search",null,  new {@class="form-control"})
    <input type = "submit", name = "submit", value = "Suche", class="form-control",style="width:auto" onclick="@("window.location.href='" + @Url.Action("IndexArzt", "Patient") + "'");" />
    }
    @using(Html.BeginForm("IndexArzt", "Patient", FormMethod.Get))
    {
    <input type = "submit", name = "submit", value = "Alle anzeigen", class="form-control",style="width:auto" onclick="@("window.location.href='" + @Url.Action("IndexArzt", "Patient") + "'");" />
    }
<br />
<table class="table" style="width:auto">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.insuranceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insurance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateofbirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timecreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timemodify)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isactive)
        </th>
        <th>
            @Html.DisplayName("Raum")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.insuranceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insurance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateofbirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timecreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timemodify)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isactive)
        </td>
        <td>
            @foreach (var test in item.LocalCase){
            if (test.casenr == "Aufnahme"){
                foreach (var nummer in test.Room){
                    @nummer.number
            }
            } 
            }
        </td>
        <td>
             <input id="GoCreatePatient" type="button" value="Bearbeiten" class="btn btn-default"   style="width:140px"
        onclick="@("window.location.href='" + @Url.Action("EditArzt", "Patient",  new {id=item.Id} )+ "'");" />
            <br />
             <input id="GoCreatePatient" type="button" value="Details" class="btn btn-default"  style="width:140px"
        onclick="@("window.location.href='" + @Url.Action("DetailsArzt", "Patient",  new {id=item.Id} ) + "'");" />
            <br />
             @if (item.isactive == false){
            <input id="GoCreatePatient" type="button" value="Patient aufnehmen" class="btn btn-default"   style="width:140px"
        onclick="@("window.location.href='" + @Url.Action("PatientAufnahmeArzt", "LocalCase",  new {id=item.Id} )+ "'");" />
            }
            @if (item.isactive == true){
            <input id="GoCreatePatient" type="button" value="Entlassen" class="btn btn-default" style="width:140px"
        onclick="@("window.location.href='" + @Url.Action("DeleteArzt", "Patient",  new {id=item.Id} )+ "'" );" />
            }
         
        </td>
    </tr>
}

</table>
