@model IEnumerable<HMS.Models.Patient>
<!--Autor: David Bismor -->
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "Patienten";
}
    <!-- Versuch einer Suche, MW-->
 <!--   @using(Html.BeginForm("Index", "Patient", FormMethod.Get)) {
    <br></br>
    <b> Suchoption: </b>
    @Html.RadioButton("option", "Name") <text> Name </text> 
    @Html.RadioButton("option", "Gender") <text> Geschlecht </text>  
    @Html.TextBox("search") <input type = "submit", name = "submit", value = "Suche", onclick="@("window.location.href='" + @Url.Action("Index", "Patient") + "'");" />
    }
    -->
  <table>
      <tr>
           <td style="position: absolute; left:auto"><h2>Unsere aktuellen Patienten:</h2></td>

        <td style="position:absolute; right:5%; top:10%">
   <input id="GoCreatePatient" type="button" value="Patienten anlegen" class="btn btn-default" style="width:140px"  
        onclick="@("window.location.href='" + @Url.Action("Create", "Patient") + "'");" />
            </td>
</tr>
     
 </table>
<br /><br /><br />
   <b class="form-group"><h4>Suchoption:</h4>  </b>   
    @using(Html.BeginForm("Index", "Patient", FormMethod.Get))
    {
    @Html.RadioButton("option", "Name") <text> Name </text> 
    @Html.RadioButton("option", "Geburtsdatum") <text> Geburtsdatum </text>  <br />
    @Html.TextBox("search",null,  new {@class="form-control"})
    <input type = "submit", name = "submit", value = "Suche", class="form-control",style="width:auto" onclick="@("window.location.href='" + @Url.Action("Index", "Patient") + "'");" />
    }
    @using(Html.BeginForm("Index", "Patient", FormMethod.Get))
    {
    <input type = "submit", name = "submit", value = "Alle anzeigen", class="form-control",style="width:auto" onclick="@("window.location.href='" + @Url.Action("Index", "Patient") + "'");" />
    }
<br /><br />
<table class="table" style="width:auto">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.insuranceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insurance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateofbirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timecreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timemodify)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isactive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.insuranceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insurance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateofbirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timecreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timemodify)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isactive)
        </td>
        <td>
             <input id="GoCreatePatient" type="button" value="Bearbeiten" class="btn btn-default"   style="width:90px"
        onclick="@("window.location.href='" + @Url.Action("Edit", "Patient",  new {id=item.Id} )+ "'");" />
            <br />
             <input id="GoCreatePatient" type="button" value="Details" class="btn btn-default"  style="width:90px"
        onclick="@("window.location.href='" + @Url.Action("Details", "Patient",  new {id=item.Id} ) + "'");" />
            <br />
             <input id="GoCreatePatient" type="button" value="Entlassen" class="btn btn-default" style="width:90px"
        onclick="@("window.location.href='" + @Url.Action("Delete", "Patient",  new {id=item.Id} )+ "'" );" />
            <!--
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) -->
        </td>
    </tr>
}

</table>
