@model IEnumerable<HMS.Models.Patient>
<!--Autor: David Bismor -->
@{
    Layout = "~/Views/Shared/_Layout_Therapeut.cshtml";
    ViewBag.Title = "Patienten";
}
    <!-- Versuch einer Suche, MW-->
 <!--   @using(Html.BeginForm("Index", "Patient", FormMethod.Get)) {
    <br></br>
    <b> Suchoption: </b>
    @Html.RadioButton("option", "Name") <text> Name </text> 
    @Html.RadioButton("option", "Gender") <text> Geschlecht </text>  
    @Html.TextBox("search") <input type = "submit", name = "submit", value = "Suche", onclick="@("window.location.href='" + @Url.Action("Index", "Patient") + "'");" />
    }
    -->
  <table>
      <tr>
           <td style="position: absolute; left:auto"><h2>Unsere aktuellen Patienten:</h2></td>

        
</tr>
    
 </table> 
 
<br /><br /><br />
   <b class="form-group"><h4>Suchoption:</h4>  </b>   
    @using(Html.BeginForm("Index", "Patient", FormMethod.Get))
    {
    @Html.RadioButton("option", "Name") <text> Name </text> 
    @Html.RadioButton("option", "Geburtsdatum") <text> Geburtsdatum </text>  <br />
    @Html.TextBox("search",null,  new {@class="form-control"})
    <input type = "submit", name = "submit", value = "Suche", class="form-control",style="width:auto" onclick="@("window.location.href='" + @Url.Action("Index", "Patient") + "'");" />
    }
    @using(Html.BeginForm("Index", "Patient", FormMethod.Get))
    {
    <input type = "submit", name = "submit", value = "Alle anzeigen", class="form-control",style="width:auto" onclick="@("window.location.href='" + @Url.Action("Index", "Patient") + "'");" />
    }
<br />
<table class="table" style="width:auto">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.insuranceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insurance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateofbirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timecreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timemodify)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isactive)
        </th>
        <th>
            @Html.DisplayName("Raum")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.insuranceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insurance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateofbirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timecreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timemodify)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isactive)
        </td>
        <td>
            @foreach (var test in item.LocalCase){
            if (test.casenr == "Aufnahme"){
                foreach (var nummer in test.Room){
                    @nummer.number
            }
            } 
            }
        </td>

          <td>
            <input id="GoCreatePatient" type="button" value="Details" class="btn btn-default"  style="width:90px"
            onclick="@("window.location.href='" + @Url.Action("DetailsTherapeut", "Patient",  new {id=item.Id} ) + "'");" />
            <br/>
          </td>
    </tr>
}

</table>
