@model HMS.Models.Room

@{
    ViewBag.Title = "Löschen";
}

<h2>Raum löschen</h2>

<h3>Wollen Sie wirklich fortfahren?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.space)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.space)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vacancy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vacancy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timecreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timecreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timemodify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timemodify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isactive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
}