@model HMS.Models.Room

@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "Details";
}
<!--Autor: David Bismor -->
<h2>Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.space)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.space)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vacancy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vacancy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timecreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timecreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timemodify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timemodify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isactive)
        </dd>

    </dl>
</div>
<p>
  <!--     @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index") -->
              <input id="EditThis" type="button" value="Bearbeiten" class="btn btn-default" style="width:90px"
        onclick="@("window.location.href='" + @Url.Action("Edit", "Room", new {id = Model.Id}) + "'");" />
              <input id="BackToList" type="button" value="Zurück" class="btn btn-default" style="width:90px"
        onclick="@("window.location.href='" + @Url.Action("Index", "Room") + "'");" />
</p>
