@model IEnumerable<HMS.Models.Room>

@{
    Layout = "~/Views/Shared/_Layout_Reinigungspersonal.cshtml";
    ViewBag.Title = "Räume";
}
    

    <!--Autor: David Bismor -->
 <table>
      <tr>
           <td style="position:absolute; left:auto"><h2>Reinigungsplan:</h2></td>
   
</tr>
 </table>
<br /><br /> <br /> <br />
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.space)
        </th>
        <th>
            @Html.DisplayName("Freie Plätze")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isactive)
        </th>
        <td>
            @Html.DisplayName(" ")
        </td>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.space)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vacancy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isactive)
        </td>
        <td>
            <input id="GoIndexRoom" type="button" value="Raum gereinigt" class="btn btn-default"   style="width:120px"
        onclick="@("window.location.href='" + @Url.Action("IndexReinigung", "Room",  new {id=item.Id} )+ "'");" />
            <br />
        </td>
    </tr>
}

</table>
