@model IEnumerable<HMS.Models.Room>

@{
    Layout = "~/Views/Shared/_Layout_Reinigungspersonal.cshtml";
    ViewBag.Title = "Räume";
}
    <!--Autor: David Bismor -->
 <table>
      <tr>
           <td style="position:absolute; left:auto"><h2>Putz diese Räume amk:</h2></td>

          <br /><br /><br />
   <b class="form-group"><h4>Bitte sauber machen:</h4>  </b>   
    @using(Html.BeginForm("IndexReinigung", "Room", FormMethod.Get))
    {
    <input type = "submit", name = "submit", value = "Bitte putzen", class="form-control",style="width:auto" onclick="@("window.location.href='" + @Url.Action("IndexReinigung", "Room") + "'");" />
    }
<br /><br />

    
</tr>
 </table>
<br /><br /> <br /> <br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.space)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vacancy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timecreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timemodify)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isactive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.space)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vacancy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timecreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timemodify)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isactive)
        </td>
      
    </tr>
}

</table>
