@model HMS.Models.LocalCase

@{
    Layout = "~/Views/Shared/_Layout_Arzt.cshtml";
    ViewBag.Title = "Delete";
}
<!--Autor: David Bismor -->
<h2>Bahandlung abschließen..</h2>

<h3>Wollen Sie wirklich fortfahren?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.timeclosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeclosed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.casenr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.casenr)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.diagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.therapy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.therapy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expectedtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expectedtime)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.timecreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timecreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timemodify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timemodify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isactive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>

        <dd>
            @foreach (var number in Model.Room)
            {
                @Html.DisplayFor(model => number.number)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient)
        </dt>

        <dd>
            @foreach (var patient in Model.Patient)
            {
                @Html.DisplayFor(model => patient.surname)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @foreach (var user in Model.User)
            {
                @Html.DisplayFor(model => user.surname)
            }
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <!--<input type="submit" value="Delete" class="btn btn-default" /> -->
            <!-- Wollen wir abschließen oder löschen? -->
            <input type="submit" value="Behandlung abschließen" class="btn btn-default" style="width:200px" />
            <input id="BackToList" type="button" value="Abbrechen" class="btn btn-default" style="width:90px"
                   onclick="@("window.location.href='" + @Url.Action("IndexArzt", "LocalCase") + "'");" />
        </div>
    }
</div>
