@model HMS.Models.LocalCase

@{
    ViewBag.Title = "Details";
}
<!--Autor: David Bismor -->
<h2>Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.timeopen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeopen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeclosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeclosed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.casenr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.casenr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.therapy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.therapy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expectedtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expectedtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property1)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.timecreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timecreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timemodify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timemodify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isactive)
        </dd>
        
    </dl>
</div>
<p>
    <input id="EditThis" type="button" value="Bearbeiten" class="btn btn-default" style="width: 100px"
        onclick="@("window.location.href='" + @Url.Action("Edit", "LocalCase", new {id = Model.Id}) + "'");" />
              <input id="BackToList" type="button" value="Zurück" class="btn btn-default" style="width: 100px"
        onclick="@("window.location.href='" + @Url.Action("Index", "LocalCase") + "'");" />
</p>
