@model IEnumerable<HMS.Models.LocalCase>

@{
    Layout = "~/Views/Shared/_Layout_Schwester.cshtml";
    ViewBag.Title = "Index";
}
    <!--Autor: David Bismor -->
<table>
      <tr>
           <td style="position: absolute; left:auto"><h2>Aktuelle Behandlungspläne..</h2></td>

        
</tr>
 </table>
    <br /><br /> <br /> <br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.timecreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeclosed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.casenr)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.diagnosis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.medication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.therapy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expectedtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timemodify)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isactive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room)
        </th>
        <th>
            @Html.DisplayName("Zugeteiltes Personal")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.timecreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timeclosed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.casenr)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.diagnosis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.medication)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.therapy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expectedtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timemodify)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isactive)
        </td>
        <td>
            @foreach (var test in item.Room){
            @test.number
            }

        </td>
        <td>
            @foreach (var test in item.User)
            {
                @test.surname
            }
        </td>
       
    </tr>
}

</table>
