@model HMS.Models.LocalCase

@{
    Layout = "~/Views/Shared/_Layout_Arzt.cshtml";
    ViewBag.Title = "Aufnahme";
}

<h2>Eine neue Behandlung anlegen..</h2>

<!--Autor: David Bismor -->
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       

        <div class="form-group">
            @Html.LabelFor(model => model.Patient, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownList("Pat", null, null, htmlAttributes: new { @class = "form-control", @readonly ="readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Behandlungsanfang", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.timecreate, new { htmlAttributes = new { @class = "form-control",  @type = "date", @Value = @Model.timecreate.ToString("yyyy-MM-dd")}})
                @Html.ValidationMessageFor(model => model.timecreate, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            @Html.Label("Startzeitpunkt:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:auto">
                @Html.DropDownList("UhrHHStart", null, "14", new { @class = "form-control" })
            </div>
            <div class="col-md-10" style="width:auto">
                @Html.DropDownList("UhrMMStart", null, "00", new { @class = "form-control" })
            </div>
                @*<div class="col-md-10" style="width:auto">
                        @Html.DropDownListFor(Model => Model.timecreate, new List<SelectListItem>
            {
                                new SelectListItem() {Text = "00", Value="00"},
                                new SelectListItem() {Text = "01", Value="01"},
                                new SelectListItem() {Text = "02", Value="02"},
                                new SelectListItem() {Text = "03", Value="03"},
                                new SelectListItem() {Text = "04", Value="04"},
                                new SelectListItem() {Text = "05", Value="05"},
                                new SelectListItem() {Text = "06", Value="06"},
                                new SelectListItem() {Text = "07", Value="07"},
                                new SelectListItem() {Text = "08", Value="08"},
                                new SelectListItem() {Text = "09", Value="09"},
                                new SelectListItem() {Text = "10", Value="10"},
                                new SelectListItem() {Text = "11", Value="11"},
                                new SelectListItem() {Text = "12", Value="12"},
                                new SelectListItem() {Text = "13", Value="13"},
                                new SelectListItem() {Text = "14", Value="14"},
                                new SelectListItem() {Text = "15", Value="15"},
                                new SelectListItem() {Text = "16", Value="16"},
                                new SelectListItem() {Text = "17", Value="17"},
                                new SelectListItem() {Text = "19", Value="18"},
                                new SelectListItem() {Text = "20", Value="19"},
                                new SelectListItem() {Text = "21", Value="20"},
                                new SelectListItem() {Text = "22", Value="22"},
                                new SelectListItem() {Text = "23", Value="23"}
            }, "14", new { @class = "form-control" })
                    </div>
                    <div class="col-md-10" style="width:auto">
                        @Html.DropDownListFor(model => model.timecreate, new List<SelectListItem>
            {
                                new SelectListItem() {Text = "00", Value="00"},
                                new SelectListItem() {Text = "01", Value="01"},
                                new SelectListItem() {Text = "02", Value="02"},
                                new SelectListItem() {Text = "03", Value="03"},
                                new SelectListItem() {Text = "04", Value="04"},
                                new SelectListItem() {Text = "05", Value="05"},
                                new SelectListItem() {Text = "06", Value="06"},
                                new SelectListItem() {Text = "07", Value="07"},
                                new SelectListItem() {Text = "08", Value="08"},
                                new SelectListItem() {Text = "09", Value="09"},
                                new SelectListItem() {Text = "10", Value="10"},
                                new SelectListItem() {Text = "11", Value="11"},
                                new SelectListItem() {Text = "12", Value="12"},
                                new SelectListItem() {Text = "13", Value="13"},
                                new SelectListItem() {Text = "14", Value="14"},
                                new SelectListItem() {Text = "15", Value="15"},
                                new SelectListItem() {Text = "16", Value="16"},
                                new SelectListItem() {Text = "17", Value="17"},
                                new SelectListItem() {Text = "19", Value="18"},
                                new SelectListItem() {Text = "20", Value="19"},
                                new SelectListItem() {Text = "21", Value="20"},
                                new SelectListItem() {Text = "22", Value="22"},
                                new SelectListItem() {Text = "23", Value="23"},
                                new SelectListItem() {Text = "24", Value="24"},
                                new SelectListItem() {Text = "25", Value="25"},
                                new SelectListItem() {Text = "26", Value="26"},
                                new SelectListItem() {Text = "27", Value="27"},
                                new SelectListItem() {Text = "28", Value="28"},
                                new SelectListItem() {Text = "29", Value="29"},
                                new SelectListItem() {Text = "30", Value="30"},
                                new SelectListItem() {Text = "31", Value="31"},
                                new SelectListItem() {Text = "32", Value="32"},
                                new SelectListItem() {Text = "33", Value="33"},
                                new SelectListItem() {Text = "34", Value="34"},
                                new SelectListItem() {Text = "35", Value="35"},
                                new SelectListItem() {Text = "36", Value="36"},
                                new SelectListItem() {Text = "37", Value="37"},
                                new SelectListItem() {Text = "38", Value="38"},
                                new SelectListItem() {Text = "39", Value="39"},
                                new SelectListItem() {Text = "40", Value="40"},
                                new SelectListItem() {Text = "41", Value="41"},
                                new SelectListItem() {Text = "42", Value="42"},
                                new SelectListItem() {Text = "43", Value="43"},
                                new SelectListItem() {Text = "44", Value="44"},
                                new SelectListItem() {Text = "45", Value="45"},
                                new SelectListItem() {Text = "46", Value="46"},
                                new SelectListItem() {Text = "47", Value="47"},
                                new SelectListItem() {Text = "48", Value="48"},
                                new SelectListItem() {Text = "49", Value="49"},
                                new SelectListItem() {Text = "50", Value="50"},
                                new SelectListItem() {Text = "51", Value="51"},
                                new SelectListItem() {Text = "52", Value="52"},
                                new SelectListItem() {Text = "53", Value="53"},
                                new SelectListItem() {Text = "54", Value="54"},
                                new SelectListItem() {Text = "55", Value="55"},
                                new SelectListItem() {Text = "56", Value="56"},
                                new SelectListItem() {Text = "57", Value="57"},
                                new SelectListItem() {Text = "58", Value="58"},
                                new SelectListItem() {Text = "59", Value="59"}
            }, "00", new { @class = "form-control" })
                    </div>*@
            </div>
        <div class="form-group">
            @Html.LabelFor(model => model.timeclosed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.timeclosed, new { htmlAttributes = new { @class = "form-control",  @type = "date", @Value = @Model.timecreate.ToString("yyyy-MM-dd")} })
                @Html.ValidationMessageFor(model => model.timeclosed, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Endzeitpunkt:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:auto">
               @Html.DropDownList("UhrHHEnde", null,"14",new { @class = "form-control" })
            </div>
            <div class="col-md-10" style="width:auto">
                @Html.DropDownList("UhrMMEnde", null, "30", new { @class = "form-control" })
            </div>

        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.casenr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                 @Html.DropDownListFor(model => model.casenr, new List<SelectListItem>
    {
                        new SelectListItem() { Text = "Aufnahme", Value = "Aufnahme"}
    }, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.casenr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group", style="display:none">
            @Html.LabelFor(model => model.diagnosis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.diagnosis, new List<SelectListItem>
    {                   new SelectListItem() { Text = "C16 - Magenkrebs", Value = "C16 - Magenkrebs", Selected = true},
                        new SelectListItem() { Text = "C34 - Lungenkrebs", Value = "C34 - Lungenkrebs"},
                        new SelectListItem() { Text = "C18 - Dickdarmkrebs", Value = "C18 - Dickdarmkrebs"},
                        new SelectListItem() { Text = "E02 - Schilddrüsenunterfunktion", Value = "E02 - Schilddrüsenunterfunktion"},
                        new SelectListItem() { Text = "E15 - Hyperinsulinismus", Value = "E15 - Hyperinsulinismus"},
                        new SelectListItem() { Text = "E60 - Zinkmangel", Value = "E60 - Zinkmangel"},
                        new SelectListItem() { Text = "F00 - Alzheimer-Krankheit", Value = "F00 - Alzheimer-Krankheit"},
                        new SelectListItem() { Text = "F06 - Halluzination", Value = "F06 - Halluzination"},
                        new SelectListItem() { Text = "F32 - Depression", Value = "F32 - Depression"},
                        new SelectListItem() { Text = "I10.9 - Essentielle Hypertonie", Value = "I110.9 - Essenzielle Hypertonie"},
                        new SelectListItem() { Text = "I12.9 - Hypertensive Nierenkrankheit", Value = "I12.9 - Hypertensive Nierenkrankheit"},
                        new SelectListItem() { Text = "J02 - Akute Rachenentzündung", Value = "J02 - Akute Rachenentzündung"},
                        new SelectListItem() { Text = "J09 - Vogelgrippe", Value = "J09 - Vogelgrippe"},
                        new SelectListItem() { Text = "J33 - Polyp der Nasenhöhle", Value = "J33 - Polyp der Nasenhöhle"},
                        new SelectListItem() { Text = "J40 - Bronchitis", Value = "J40 - Bronchitis"},
                        new SelectListItem() { Text = "M23 - Meniskusriss", Value = "M23 - Meniskusriss"},
                        new SelectListItem() { Text = "M50 - Zervikale Bandscheibenschäden", Value = "Zervikale Bandscheibenschäden"},
                        new SelectListItem() { Text = "M87 - Knochennekrose", Value = "M87 - Knochennekrose"}

    }, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.diagnosis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group", style="display:none">
            @Html.LabelFor(model => model.medication, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.medication, new { htmlAttributes = new { @class = "form-control", @Value = "Fuck you" } })
                @Html.ValidationMessageFor(model => model.medication, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group", style="display:none">
            @Html.LabelFor(model => model.therapy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.therapy, new { htmlAttributes = new { @class = "form-control", @Value = "Fuck you" } })
                @Html.ValidationMessageFor(model => model.therapy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" , style="display:none">
            @Html.LabelFor(model => model.expectedtime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.expectedtime, new { htmlAttributes = new { @class = "form-control", @Value = "Fuck you" } })
                @Html.ValidationMessageFor(model => model.expectedtime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group", style="display:none">
            @Html.LabelFor(model => model.timemodify, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.timemodify, new { htmlAttributes = new { @class = "form-control", @type="date", @Value = "2017-01-01", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.timemodify, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group", style="display:none">
            @Html.LabelFor(model => model.isactive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.isactive)
                    @Html.ValidationMessageFor(model => model.isactive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Room, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!-- Id ist der Name von der Liste aus dem Controller, 3 Variable(String sagt was default angezeigt wird -->
               @Html.DropDownList("Id",null,  null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.Label("Raumtyp",null, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("newTest", (string)ViewBag.idType, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>*@
        

        <div class="form-group">
            @Html.LabelFor(model => model.User, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!--Martin Wichary: IdUser ist der Name von der Liste aus dem Controller, 3 Variable (String sagt was default angezeigt wird -->
                <!--David Bismor: Abänderung der Überladung -->
               @Html.DropDownList("IdUser", null, null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Anlegen" class="btn btn-default" style="width:90px"/> 
                 <input id="BackToIndex" type="button" value="Abbrechen" class="btn btn-default" style="width:90px"
        onclick="@("window.location.href='" + @Url.Action("IndexArzt", "Patient") + "'");" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
